html {
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: -ms-grid;
  display: grid;
  font-size: 12pt;
  color: #e9e9e9;
}

header {
  height: 100vh;
  background-image: url("../assets/negative-space-black-forest-dawn.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

header > .arrow-container > a {
  color: white;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(221, 209, 209, 0.1);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.header-top > i {
  float: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.header-top > nav > a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 80%;
}

.arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 40px 0;
}

main {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 0px 0;
}

main > .arrow-container > a {
  color: black;
}

.profil-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.profil-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  gap: 20px;
}

.profil-namn {
  font-weight: bold;
}

.profil-bild {
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.profil-bild > img {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 40px #686868;
          box-shadow: 0 0 40px #686868;
  -webkit-transition: 1s;
  transition: 1s;
}

.profil-bild:hover > img {
  -webkit-box-shadow: 0 0 90px black;
          box-shadow: 0 0 90px black;
  -webkit-transition: 1s;
  transition: 1s;
}

.profil-bild:hover {
  margin: 20px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.profil-bio {
  background-color: lightgray;
  padding: 30px;
  border-radius: 5px;
  color: black;
  font-size: 0.85em;
}

footer {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  font-size: 1.3em;
}

.footer-content-container {
  width: 60%;
}

.footer-content {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.footer-content > i {
  text-align: center;
}

.contact-container {
  display: -ms-grid;
  display: grid;
  gap: 15px 7px;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

@media screen and (min-width: 768px) {
  .header-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding: 30px;
    font-size: 1.6rem;
  }
  .header-top > i {
    display: none;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 30px;
  }
  nav > a:hover {
    -webkit-text-decoration: underline white;
            text-decoration: underline white;
  }
  .profil-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 0;
    width: 90%;
  }
  .profil-container {
    width: 50%;
  }
  .profil-bild {
    width: 70%;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 40px;
  }
  .footer-content {
    width: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=main.css.map */